.button {
  font: inherit;
  border: 1px solid red;
  background: rgb(85, 12, 12)0000;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 25px;
}

.button:hover,
.button:active {
 background: rgb(85, 12, 12)0000;
  border-color: red;
}

.button:focus {
  outline: none;
}
