.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  /* display: flex; */
}

.input h1 {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input button {
display: flex;
align-items: center;
justify-content: center;
margin: auto;
}